Repository pthneo/buckle: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,tsx,js,json}"
      run: bunx biome format --write {staged_files}
    lint:
      glob: "*.{ts,tsx}"
      run: bunx biome check {staged_files}

pre-push:
  commands:
    test:
      run: bun test
    typecheck:
      run: bun run tsc --noEmit

commit-msg:
  commands:
    conventional:
      run: |
        grep -qE "^(feat|fix|chore|docs|refactor|test|ci)(\(.+\))?: .+" {1} || \
          (echo "Use conventional commit format: feat: description" && exit 1)

docs: update readme
  .github/README.md
Due: none

docs: add license, code of conduct and contributing instructions
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  LICENSE.md
Due: none

chore: add ultracite and ide-specific settings
  .cursor/hooks.json
  .vscode/extensions.json
  .vscode/settings.json
  biome.json
  bun.lock
  lefthook.yml
  package.json
Due: format

feat: init docs site
  package.json
  packages/docs/.mintignore
  packages/docs/AGENTS.md
  packages/docs/CONTRIBUTING.md
  packages/docs/LICENSE
  packages/docs/README.md
  packages/docs/ai-tools/claude-code.mdx
  packages/docs/ai-tools/cursor.mdx
  packages/docs/ai-tools/windsurf.mdx
  packages/docs/api-reference/endpoint/create.mdx
  packages/docs/api-reference/endpoint/delete.mdx
  packages/docs/api-reference/endpoint/get.mdx
  packages/docs/api-reference/endpoint/webhook.mdx
  packages/docs/api-reference/introduction.mdx
  packages/docs/api-reference/openapi.json
  packages/docs/development.mdx
  packages/docs/docs.json
  packages/docs/essentials/code.mdx
  packages/docs/essentials/images.mdx
  packages/docs/essentials/markdown.mdx
  packages/docs/essentials/navigation.mdx
  packages/docs/essentials/reusable-snippets.mdx
  packages/docs/essentials/settings.mdx
  packages/docs/favicon.svg
  packages/docs/images/checks-passed.png
  packages/docs/images/hero-dark.png
  packages/docs/images/hero-light.png
  packages/docs/index.mdx
  packages/docs/logo/dark.svg
  packages/docs/logo/light.svg
  packages/docs/quickstart.mdx
  packages/docs/snippets/snippet-intro.mdx
  tests/core.test.ts
  tsconfig.json
Due: format, lint

chore: add docs to turbo config
  bun.lock
  package.json
  packages/docs/AGENTS.md
  packages/docs/CONTRIBUTING.md
  packages/docs/package.json
  packages/ui/README.md
  turbo.json
Due: format

feat: add cli scaffold
  packages/cli/package.json
  packages/cli/src/go.mod
  packages/cli/src/main.go
Due: format

docs: add readme for cli
  packages/cli/README.md
Due: none

chore: merge branch 'main' of https://github.com/pthneo/buckle
  packages/docs/api-reference/endpoint/create.mdx
  packages/docs/api-reference/endpoint/delete.mdx
  packages/docs/api-reference/endpoint/get.mdx
  packages/docs/api-reference/endpoint/webhook.mdx
  packages/docs/api-reference/introduction.mdx
  packages/docs/docs.json
  packages/docs/essentials/settings.mdx
Due: format

docs: remove API reference and update settings to Buckle CLI
  packages/docs/docs.json
Due: format

feat: add cli arg parsing and PID read/write
  packages/cli/src/main.go
Due: none

feat: start adding run server logic to cli
  packages/cli/src/main.go
Due: none

feat: start work on buckle server; add yaml parsing and config types
  .gitignore
  biome.json
  bun.lock
  packages/docs/docs.json
  packages/server/.gitignore
  packages/server/README.md
  packages/server/package.json
  packages/server/src/config/load.ts
  packages/server/src/config/types.d.ts
  packages/server/src/config/validation.ts
  packages/server/src/error.ts
  packages/server/src/index.ts
  packages/server/tsconfig.json
Due: format, lint

feat: add postgres adapter
  biome.json
  packages/server/src/adapters/adapter.ts
  packages/server/src/adapters/databases/postgres/adapter.test.ts
  packages/server/src/adapters/databases/postgres/config.test.ts
  packages/server/src/adapters/databases/postgres/index.ts
  packages/server/src/adapters/databases/postgres/schema.ts
  packages/server/src/adapters/databases/postgres/types.d.ts
  packages/server/src/adapters/databases/types.d.ts
  packages/server/src/config/types.d.ts
Due: format, lint

feat: add other database adapters
  Buckle.png
  packages/server/src/adapters/databases/mysql/adapter.test.ts
  packages/server/src/adapters/databases/mysql/config.test.ts
  packages/server/src/adapters/databases/mysql/index.ts
  packages/server/src/adapters/databases/mysql/schema.ts
  packages/server/src/adapters/databases/mysql/types.d.ts
  packages/server/src/adapters/databases/postgres/schema.ts
  packages/server/src/adapters/databases/postgres/types.d.ts
  packages/server/src/adapters/databases/schema.ts
  packages/server/src/adapters/databases/sqlite/adapter.test.ts
  packages/server/src/adapters/databases/sqlite/config.test.ts
  packages/server/src/adapters/databases/sqlite/index.ts
  packages/server/src/adapters/databases/sqlite/schema.ts
  packages/server/src/adapters/databases/sqlite/types.d.ts
  packages/server/src/adapters/databases/types.d.ts
Due: format, lint

feat: add tests for database adapters
  packages/server/src/adapters/databases/mysql/adapter.test.ts
  packages/server/src/adapters/databases/mysql/config.test.ts
  packages/server/src/adapters/databases/postgres/adapter.test.ts
  packages/server/src/adapters/databases/postgres/config.test.ts
  packages/server/src/adapters/databases/sqlite/adapter.test.ts
  packages/server/src/adapters/databases/sqlite/config.test.ts
Due: format, lint

feat: update main loading function
  packages/server/src/config/load.ts
  packages/server/src/config/types.d.ts
  packages/server/src/config/validation.ts
Due: format, lint

feat: add app adapters and fix types
  biome.json
  packages/server/src/adapters/adapter.ts
  packages/server/src/adapters/apps/schema.ts
  packages/server/src/adapters/apps/types.d.ts
  packages/server/src/adapters/databases/mysql/types.d.ts
  packages/server/src/adapters/databases/postgres/types.d.ts
  packages/server/src/adapters/databases/sqlite/types.d.ts
  packages/server/src/adapters/types.d.ts
Due: format, lint

feat: add watching of config file
  biome.json
  packages/server/src/config/load.ts
  packages/server/src/index.ts
Due: format, lint

fix: update adapters to match new schema
  biome.json
  packages/server/src/adapters/adapter.ts
  packages/server/src/adapters/databases/mysql/index.ts
  packages/server/src/adapters/databases/postgres/index.ts
  packages/server/src/adapters/databases/postgres/types.d.ts
  packages/server/src/adapters/databases/sqlite/index.ts
  packages/server/src/config/validation.ts
  packages/server/src/index.ts
  packages/server/tsconfig.json
Due: format, lint

feat: create registry and connection logic
  packages/server/src/adapters/databases/index.ts
  packages/server/src/adapters/index.ts
  packages/server/src/config/index.ts
  packages/server/src/config/load.test.ts
  packages/server/src/config/validation.test.ts
  packages/server/src/config/watch.test.ts
  packages/server/src/config/watch.ts
  packages/server/src/registry/index.test.ts
  packages/server/src/registry/index.ts
  packages/server/src/registry/types.d.ts
Due: format, lint

feat: add database routes
  packages/server/src/index.ts
  packages/server/src/routes/databases/index.ts
  packages/server/src/routes/index.ts
  packages/server/src/types.d.ts
Due: format, lint

feat: create template types (not final) for other adapter types
  packages/server/src/adapters/caches/redis/schema.ts
  packages/server/src/adapters/caches/redis/types.d.ts
  packages/server/src/adapters/caches/schema.ts
  packages/server/src/adapters/caches/types.d.ts
  packages/server/src/adapters/caches/valkey/schema.ts
  packages/server/src/adapters/caches/valkey/types.d.ts
  packages/server/src/adapters/databases/mysql/adapter.test.ts
  packages/server/src/adapters/databases/postgres/adapter.test.ts
  packages/server/src/adapters/databases/sqlite/adapter.test.ts
  packages/server/src/adapters/object-stores/minio/schema.ts
  packages/server/src/adapters/object-stores/minio/types.d.ts
  packages/server/src/adapters/object-stores/r2/schema.ts
  packages/server/src/adapters/object-stores/r2/types.d.ts
  packages/server/src/adapters/object-stores/s3/schema.ts
  packages/server/src/adapters/object-stores/s3/types.d.ts
  packages/server/src/adapters/object-stores/schema.ts
  packages/server/src/adapters/object-stores/types.d.ts
  packages/server/src/adapters/queues/kafka/schema.ts
  packages/server/src/adapters/queues/kafka/types.d.ts
  packages/server/src/adapters/queues/rabbitmq/schema.ts
  packages/server/src/adapters/queues/rabbitmq/types.d.ts
  packages/server/src/adapters/queues/redis/schema.ts
  packages/server/src/adapters/queues/redis/types.d.ts
  packages/server/src/adapters/queues/schema.ts
  packages/server/src/adapters/queues/sqs/schema.ts
  packages/server/src/adapters/queues/sqs/types.d.ts
  packages/server/src/adapters/queues/types.d.ts
  packages/server/src/adapters/search-engines/elasticsearch/schema.ts
  packages/server/src/adapters/search-engines/elasticsearch/types.d.ts
  packages/server/src/adapters/search-engines/index.ts
  packages/server/src/adapters/search-engines/meilisearch/schema.ts
  packages/server/src/adapters/search-engines/meilisearch/types.d.ts
  packages/server/src/adapters/search-engines/schema.ts
  packages/server/src/adapters/search-engines/types.d.ts
  packages/server/src/adapters/search-engines/typesense/schema.ts
  packages/server/src/adapters/search-engines/typesense/types.d.ts
  packages/server/src/adapters/webhooks/schema.ts
  packages/server/src/adapters/webhooks/types.d.ts
Due: format, lint

feat: add bun ui template
  .gitignore
  bun.lock
  package.json
  packages/server/README.md
  packages/server/buckle.yml
  packages/server/bun-env.d.ts
  packages/server/package.json
  packages/server/public/favicon.ico
  packages/server/public/placeholder.svg
  packages/server/src/app/app.tsx
  packages/server/src/app/frontend.tsx
  packages/server/src/app/index.css
  packages/server/src/app/index.html
  packages/server/src/app/index.ts
  packages/server/src/app/logo.svg
  packages/server/src/app/react.svg
  packages/server/src/config/validation.ts
  packages/server/src/index.ts
  packages/server/src/routes/databases/index.ts
  packages/server/tsconfig.json
  packages/ui/README.md
Due: format, lint

feat: add metadata route
  packages/server/src/registry/index.test.ts
  packages/server/src/registry/index.ts
  packages/server/src/registry/types.d.ts
  packages/server/src/routes/databases/index.ts
  packages/server/src/routes/index.ts
Due: format, lint

feat: make major ui changes, add routes etc
  .vscode/settings.json
  packages/server/package.json
  packages/server/src/app/app.tsx
  packages/server/src/app/components/app-sidebar.tsx
  packages/server/src/app/components/log-stream.tsx
  packages/server/src/app/components/ui/sidebar.tsx
  packages/server/src/app/data/categories.ts
  packages/server/src/app/data/databases.ts
  packages/server/src/app/data/index.ts
  packages/server/src/app/data/metadata.ts
  packages/server/src/app/dist.css
  packages/server/src/app/favicon.ico
  packages/server/src/app/index.css
  packages/server/src/app/index.html
  packages/server/src/app/pages/Dashboard.tsx
  packages/server/src/app/pages/Logs.tsx
  packages/server/src/app/pages/Services.tsx
  packages/server/src/app/pages/ai.tsx
  packages/server/src/app/pages/category.tsx
  packages/server/src/app/pages/not-found.tsx
  packages/server/src/app/pages/service-inspect.tsx
  packages/server/src/app/store/databases.ts
  packages/server/src/app/store/index.ts
  packages/server/src/app/store/services.ts
  packages/server/src/app/types/services.ts
  packages/server/src/index.ts
  packages/server/src/routes/category.ts
  packages/server/src/routes/databases/index.ts
  packages/server/src/routes/index.ts
Due: format, lint

fix: update the dist mechanism, and build logic. Add vite to use in dev
  .changeset/config.json
  .gitignore
  Buckle.png
  biome.json
  bun.lock
  lefthook.yml
  package.json
  packages/cli/package.json
  packages/server/.gitignore
  packages/server/README.md
  packages/server/components.json
  packages/server/dev/buckle.example.yml
  packages/server/dev/docker-compose.example.yml
  packages/server/dist/ui/index.html
  packages/server/package.json
  packages/server/src/app/index.html
  packages/server/tsconfig.json
  packages/server/vite.config.ts
  tsconfig.json
  turbo.json
Due: format, lint

fix: resolve a number of small linter and type errors
  biome.json
  bun.lock
  packages/server/package.json
  packages/server/src/adapters/types.d.ts
  packages/server/src/app/components/app-sidebar.tsx
  packages/server/src/app/components/nav-link.tsx
  packages/server/src/app/components/service-card.tsx
  packages/server/src/app/components/ui/button-group.tsx
  packages/server/src/app/components/ui/chart.tsx
  packages/server/src/app/components/ui/combobox.tsx
  packages/server/src/app/components/ui/field.tsx
  packages/server/src/app/components/ui/input-group.tsx
  packages/server/src/app/components/ui/item.tsx
  packages/server/src/app/components/ui/label.tsx
  packages/server/src/app/components/ui/pagination.tsx
  packages/server/src/app/components/ui/resizable.tsx
  packages/server/src/app/components/ui/sidebar.tsx
  packages/server/src/app/components/ui/slider.tsx
  packages/server/src/app/components/ui/toggle-group.tsx
  packages/server/src/app/data/index.ts
  packages/server/src/app/dist.css
  packages/server/src/app/hooks/use-mobile.ts
  packages/server/src/app/hooks/use-mobile.tsx
  packages/server/src/config/types.d.ts
Due: format, lint

feat: add sidebar and header ui
  bun.lock
  packages/server/package.json
  packages/server/public/favicon.ico
  packages/server/src/app/components/dashboard-layout.tsx
  packages/server/src/app/components/header.tsx
  packages/server/src/app/components/layout.tsx
  packages/server/src/app/components/sidebar.tsx
  packages/server/src/app/components/typography.tsx
  packages/server/src/app/frontend.tsx
  packages/server/src/app/index.css
  packages/server/src/app/index.html
  packages/server/src/app/main.tsx
Due: format, lint

fix: update API queries with new logic to handle errors
  packages/server/src/app/data/api.ts
  packages/server/src/app/data/categories.ts
  packages/server/src/app/data/databases.ts
  packages/server/src/app/data/index.ts
  packages/server/src/app/data/metadata.ts
  packages/server/src/app/favicon.ico
  packages/server/src/app/index.html
  packages/server/src/app/main.tsx
  packages/server/src/app/public/buckle.png
  packages/server/src/app/public/icon/favicon.ico
  packages/server/src/app/public/logo.webp
Due: format, lint

fix: various fixes to ui
  packages/server/src/app/components/header.tsx
  packages/server/src/app/components/service-card.tsx
  packages/server/src/app/components/sidebar.tsx
  packages/server/src/app/components/status-badge.tsx
  packages/server/src/app/data/metadata.ts
  packages/server/src/app/main.tsx
  packages/server/src/app/pages/Inspector.tsx
  packages/server/src/app/pages/category.tsx
  packages/server/src/app/pages/service-inspect.tsx
  packages/server/src/index.ts
  packages/server/src/routes/categories.ts
  packages/server/src/routes/index.ts
  packages/server/vite.config.ts
Due: format, lint

feat: add workers, update dashboard ui
  bun.lock
  packages/server/package.json
  packages/server/src/adapters/workers/schema.ts
  packages/server/src/adapters/workers/types.d.ts
  packages/server/src/app/components/header.tsx
  packages/server/src/app/components/nav-link.tsx
  packages/server/src/app/components/sidebar.tsx
  packages/server/src/app/components/ui/alert-dialog.tsx
  packages/server/src/app/components/ui/card.tsx
  packages/server/src/app/components/ui/dialog.tsx
  packages/server/src/app/components/ui/drawer.tsx
  packages/server/src/app/components/ui/empty.tsx
  packages/server/src/app/components/ui/sheet.tsx
  packages/server/src/app/components/ui/sidebar.tsx
  packages/server/src/app/components/ui/tooltip.tsx
  packages/server/src/app/data/index.ts
  packages/server/src/app/index.css
  packages/server/src/app/main.tsx
  packages/server/src/app/pages/Dashboard.tsx
  packages/server/src/config/load.test.ts
  packages/server/src/config/load.ts
  packages/server/src/config/types.d.ts
  packages/server/src/config/validation.test.ts
  packages/server/src/config/validation.ts
  packages/server/src/error.ts
  packages/server/src/registry/index.test.ts
  packages/server/src/registry/index.ts
  packages/server/src/registry/types.d.ts
Due: format, lint

fix: fix validation logic and add app adaptor logic
  packages/server/src/adapters/apps/adapter.ts
  packages/server/src/adapters/apps/index.ts
  packages/server/src/adapters/apps/schema.ts
  packages/server/src/adapters/databases/mysql/schema.ts
  packages/server/src/adapters/databases/postgres/schema.ts
  packages/server/src/adapters/databases/schema.ts
  packages/server/src/adapters/databases/sqlite/schema.ts
  packages/server/src/adapters/databases/sqlite/types.d.ts
  packages/server/src/adapters/index.ts
  packages/server/src/errors.ts
  packages/server/src/index.ts
  packages/server/src/logs.ts
Due: format, lint

feat: add category pages and other small logic fixes
  bun.lock
  packages/server/package.json
  packages/server/src/app/components/fallback.tsx
  packages/server/src/app/data/databases.ts
  packages/server/src/app/data/index.ts
  packages/server/src/app/main.tsx
  packages/server/src/app/pages/Dashboard.tsx
  packages/server/src/app/pages/category.tsx
  packages/server/src/config/load.ts
  packages/server/src/config/validation.test.ts
  packages/server/src/config/validation.ts
  packages/server/src/config/watch.ts
  packages/server/src/registry/index.ts
  packages/server/src/registry/types.d.ts
Due: format, lint

feat: add sort/filter/search options to categories
  packages/server/package.json
  packages/server/src/app/components/header.tsx
  packages/server/src/app/components/options.tsx
  packages/server/src/app/components/service-card.tsx
  packages/server/src/app/components/status-badge.tsx
  packages/server/src/app/components/typography.tsx
  packages/server/src/app/pages/Dashboard.tsx
  packages/server/src/app/pages/Inspector.tsx
  packages/server/src/app/pages/category.tsx
  packages/server/src/app/pages/service-inspect.tsx
  packages/server/src/logs.ts
Due: format, lint

fix: fix minor turbo/dev bug
  package.json
  packages/server/package.json
  turbo.json
Due: format
